<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l9">
                <h5 class="white-text">About us!</h5>
                <p class="grey-text text-lighten-4">Rahul Kumar Ojha</p>
                <p class="grey-text text-lighten-4">Chota Abhishek</p>
                <p class="grey-text text-lighten-4">Ashu</p>
                <p class="grey-text text-lighten-4">Roy</p>
                <p class="grey-text text-lighten-4">
                    We made this project as our BE project.
                </p>
            </div>
            <div class="col s12 m4 l3">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li>
                        <i class="fab fa-facebook"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://www.facebook.com/Khoon-ki-Adla-Badli-102922739095355"
            >
              Facebook</a
            >
          </li>
          <li>
            <i class="fab fa-instagram"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://www.instagram.com/_rungta/"
            >
              Instagram</a
            >
          </li>
          <li>
            <i class="fab fa-github"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://github.com/rishav394/"
            >
              Github</a
            >
          </li>
          <li>
            <i class="fab fa-whatsapp"></i
            ><a class="grey-text text-lighten-4" href="#"> Whatsapp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 Copyright Ek Boond Khoon Ka
      <a class="grey-text text-lighten-4 right" href="#">Thanks</a>
    </div>
  </div>
</footer>